/*header*/
.menu{
    display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        column-gap: 33px;
        
}

.categorias__lista{
    display: flex;
        flex-direction: column;
        row-gap: .5rem;

}

.destaques{
    display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;

}
.destaques__barra{
    flex-grow: 1;
}

.eventos__lista{
    display: flex;
        flex-wrap: wrap;
        column-gap: 1.5rem;
        row-gap: 1rem;
        justify-content: center;

}
.eventos__item{
    flex-grow: 1;
    max-width: 400px;
}

.agenda__lista{
    display: flex;
        flex-wrap: wrap;
        column-gap: 1.5rem;
        row-gap: 1rem;
        justify-content: center;
}

.agenda__item{
    flex-grow: 1;
    max-width: 400px;
}
@media(min-width:720px){
    .menu{
        column-gap: 75px;
    }
    .menu__pesquisar{
       margin: auto;
    }

    .categorias__lista{
        flex-wrap: wrap;
        column-gap: 1.5rem;
        row-gap: 1rem;
    }

    .eventos__lista{
            justify-content: end ;
    }
    .agenda__lista {
        justify-content: end;
    }
}

.rodape{
    display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

}

.rodape__logo{
    align-self: flex-end;
}
@media(min-width:1440px){
    .menu{
        column-gap: 105px;
        flex-wrap: nowrap;
    }
    /*mudando a ordem dos filhos*/
    .menu__item:nth-child(1){
        order: 1;
    }
    .menu__item:nth-child(2){
        order: 3;
    }
    .menu__item:nth-child(3){
        order:5 ;
    }
    .menu__item:nth-child(4){
        order:5 ;
    }
    .menu__item:nth-child(5){
        order: 2;
    }

    .eventos__lista{
        justify-content: end ;
    }
}

