// Fontes
$fonte:'Lato',sans-serif;

// Cores
$cor-letra: white;
$cor-fundo: #6565B2;
$cor-fundo-formulario:#262444;
$cor-botao:#37AF65;
$cor-pleaceholder:#757575;
$cor-borda:#80bdff;
$cor-sombra:rgba(0, 123, 255, 0.25);
