
hr{
    margin: 0;
}
.contato{
    background-color: var(--branco);
    color: var(--azul);
    padding: 1em;
}

.contato__titulo{
    font-weight: 500;
    font-size: 18px;
}

.contato__texto{
    font-weight: 300;
    font-size: 16px;
    margin: 1em 0;
}

.cadastre__email{
    padding: 1em;
    border: 2px solid var(--azul);
    border-radius: 24px;
    width: 90%;
    color: var(--azul);
    font-size: 16px;
    
}

.cadastre__email::placeholder{
    color: var(--azul);
    font-weight: 400;
    font-size: 16px;
    background-image: url(../img/Email.svg);
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 2em;
}

/* Media Query: telas que tenha a largura minima 1024px */

  /*contato*/
  @media screen and (min-width:1024px){
    .contato{
    display: flex;
    justify-content: center;
    align-items: center;
   }
  .contato__titulo{
    font-size: 24px;
  }
  .contato__texto{
    font-size: 18px;
  }
   .cadastre__email{
    width: 30%; 
    margin-left: 5em;
    padding: auto;
    }
   
  }