.cabecalho{
    background-color: var(--branco);
    display: flex;
        justify-content: space-between;   
        align-items: center; 
        position: relative;
 }
.cabecalho__menu-hamburguer{
   width: 48px;
   height: 48px;
   background-image: url(../img/Menu.svg); 
    background-repeat: no-repeat;
    background-position: center; 
   display: inline-block;
} 
.container__imagem{
    padding: 0.5em;
}
.container{
   display: flex; 
   align-items: center;
}
.container__botão{
    display: none;
}
.container__botão:checked ~ .lista-menu{
    display: block;
    
}
.lista-menu{
    display: none;
    position: absolute;
    top: 100%;
    width: 50vw;
}
.lista-menu__titulo{
    color: var(--laranja);
    font-weight: 800;
}
.lista-menu__titulo , .lista-menu__item {
    padding: 0.5em;
    background-color: var(--branco);
}
.lista-menu__link{
    text-decoration: none;
    background: var(--azul-degrad);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    text-transform: uppercase;
}
.opcoes__botao:checked ~ .lista-menu{
    display: block;
    width: auto;
    
}
.opcoes__botao{
    display: none;
}

/* Media Query: telas que tenha a largura minima 1024px */
.container__titulo{
    display: none;
}
.opcoes{
    display: none;
}
    /*header*/
@media screen and (min-width:1024px){
    .container__titulo{
        display: block;
        font-family: var(--font-Josefin);
        font-size: 30px;
        font-weight: 400;   
    }
    .container__titulo--negrito{
        font-weight: 700;
    } 
    .opcoes{
        display: block;
        display: flex;   
    }
    .opcoes__item{
        padding:0 1em;
        text-transform: uppercase;
        color: var(--preto);
    }
    .opcoes__item:hover{
        color: var(--laranja);
    }
    .opcoes__link{
        text-decoration: none;
        color: var(--preto);
    }
    .opcoes__link:hover{
        color: var(--laranja);
    }
    .favoritos__mediaquery{
        display: none;
    }
    .cabecalho__menu-hamburguer{
        display: none;
     } 
   
}